openapi: 3.1.0
info:
  title: "OSSA ACTA Framework API v0.1.8"
  version: "0.1.8"
  description: |
    OSSA Adaptive Contextual Token Architecture (ACTA) Framework API v0.1.8
    
    ACTA provides intelligent token optimization, context management, and model
    switching for multi-agent systems. The framework delivers 60-75% token
    reduction while maintaining 90%+ semantic fidelity through vector-enhanced
    compression and persistent context graphs.
    
    Core Features:
    - Vector-Semantic Token Compression (60-75% reduction)
    - Intelligent Model Switching (40% cost savings)
    - Persistent Context Graph (5.5x better retention)
    - Production Integration Framework
    - Real-time Performance Optimization
    - Cross-session Knowledge Persistence
    
  contact:
    name: "ACTA Framework Team"
    url: "https://ossa.ai/acta"
    
  license:
    name: "Apache 2.0"
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
    
  x-acta-framework:
    version: "0.1.8"
    status: "production_ready"
    compression_ratio: "60-75%"
    semantic_fidelity: "90%+"
    cost_reduction: "40%"
    performance_improvement: "34%"
    
servers:
  - url: "https://api.ossa.ai/acta/v1"
    description: "Production ACTA Framework API"
  - url: "http://localhost:4000/api/acta/v1"
    description: "Local development server"

paths:
  # Core ACTA Operations
  /compress:
    post:
      summary: "Compress tokens using vector-semantic compression"
      description: "Apply ACTA's vector-semantic compression to reduce token count while preserving semantic meaning"
      operationId: "compressTokens"
      tags: ["Compression"]
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompressionRequest"
      responses:
        '200':
          description: "Token compression successful"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompressionResult"
        '400':
          $ref: "#/components/responses/BadRequest"
        '429':
          $ref: "#/components/responses/RateLimited"

  /decompress:
    post:
      summary: "Decompress tokens to full context"
      description: "Reconstruct full context from compressed tokens using vector database"
      operationId: "decompressTokens"
      tags: ["Compression"]
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecompressionRequest"
      responses:
        '200':
          description: "Token decompression successful"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecompressionResult"
        '400':
          $ref: "#/components/responses/BadRequest"
        '404':
          description: "Compressed context not found"

  # Model Selection and Switching
  /models/recommend:
    post:
      summary: "Get model recommendation"
      description: "Analyze task complexity and recommend optimal model tier"
      operationId: "recommendModel"
      tags: ["Models"]
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModelRecommendationRequest"
      responses:
        '200':
          description: "Model recommendation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelRecommendation"

  /models/switch:
    post:
      summary: "Switch to recommended model"
      description: "Execute intelligent model switching with context preservation"
      operationId: "switchModel"
      tags: ["Models"]
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModelSwitchRequest"
      responses:
        '200':
          description: "Model switch successful"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelSwitchResult"
        '400':
          $ref: "#/components/responses/BadRequest"

  /models/tiers:
    get:
      summary: "Get available model tiers"
      description: "List all available model tiers and their capabilities"
      operationId: "getModelTiers"
      tags: ["Models"]
      responses:
        '200':
          description: "Available model tiers"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelTiers"

  # Context Graph Management
  /context/graphs:
    get:
      summary: "List context graphs"
      description: "Get all persistent context graphs with filtering options"
      operationId: "listContextGraphs"
      tags: ["Context"]
      security:
        - api_key: []
      parameters:
        - name: "agentId"
          in: "query"
          schema:
            type: "string"
            format: "uuid"
        - name: "domain"
          in: "query"
          schema:
            type: "string"
        - name: "active"
          in: "query"
          schema:
            type: "boolean"
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: "Context graphs list"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContextGraphList"

    post:
      summary: "Create context graph"
      description: "Create a new persistent context graph for an agent or domain"
      operationId: "createContextGraph"
      tags: ["Context"]
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextGraphCreate"
      responses:
        '201':
          description: "Context graph created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContextGraph"

  /context/graphs/{graphId}:
    get:
      summary: "Get context graph"
      operationId: "getContextGraph"
      tags: ["Context"]
      security:
        - api_key: []
      parameters:
        - name: "graphId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        '200':
          description: "Context graph details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContextGraph"
        '404':
          $ref: "#/components/responses/NotFound"

    put:
      summary: "Update context graph"
      operationId: "updateContextGraph"
      tags: ["Context"]
      security:
        - api_key: []
      parameters:
        - name: "graphId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextGraphUpdate"
      responses:
        '200':
          description: "Context graph updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContextGraph"

    delete:
      summary: "Delete context graph"
      operationId: "deleteContextGraph"
      tags: ["Context"]
      security:
        - api_key: []
      parameters:
        - name: "graphId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        '204':
          description: "Context graph deleted"
        '404':
          $ref: "#/components/responses/NotFound"

  /context/graphs/{graphId}/knowledge:
    post:
      summary: "Add knowledge to context graph"
      description: "Add new knowledge or experience to the persistent context graph"
      operationId: "addKnowledge"
      tags: ["Context"]
      security:
        - api_key: []
      parameters:
        - name: "graphId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KnowledgeEntry"
      responses:
        '201':
          description: "Knowledge added to context graph"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeResult"

  /context/graphs/{graphId}/query:
    post:
      summary: "Query context graph"
      description: "Search the context graph for relevant knowledge and context"
      operationId: "queryContextGraph"
      tags: ["Context"]
      security:
        - api_key: []
      parameters:
        - name: "graphId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextQuery"
      responses:
        '200':
          description: "Context query results"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContextQueryResult"

  # Performance Analytics
  /analytics/performance:
    get:
      summary: "Get ACTA performance metrics"
      description: "Retrieve comprehensive performance analytics for the ACTA framework"
      operationId: "getPerformanceMetrics"
      tags: ["Analytics"]
      security:
        - api_key: []
      parameters:
        - name: "timeframe"
          in: "query"
          schema:
            type: "string"
            enum: ["1h", "6h", "24h", "7d", "30d"]
            default: "24h"
        - name: "agentId"
          in: "query"
          schema:
            type: "string"
            format: "uuid"
        - name: "operation"
          in: "query"
          schema:
            type: "string"
            enum: ["compression", "decompression", "model_switching", "context_query"]
      responses:
        '200':
          description: "Performance metrics"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerformanceMetrics"

  /analytics/compression:
    get:
      summary: "Get compression analytics"
      description: "Detailed analytics on token compression performance and effectiveness"
      operationId: "getCompressionAnalytics"
      tags: ["Analytics"]
      security:
        - api_key: []
      parameters:
        - name: "timeframe"
          in: "query"
          schema:
            type: "string"
            enum: ["1h", "6h", "24h", "7d", "30d"]
            default: "24h"
      responses:
        '200':
          description: "Compression analytics"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompressionAnalytics"

  /analytics/models:
    get:
      summary: "Get model switching analytics"
      description: "Analytics on model selection and switching effectiveness"
      operationId: "getModelAnalytics"
      tags: ["Analytics"]
      security:
        - api_key: []
      parameters:
        - name: "timeframe"
          in: "query"
          schema:
            type: "string"
            enum: ["1h", "6h", "24h", "7d", "30d"]
            default: "24h"
      responses:
        '200':
          description: "Model analytics"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelAnalytics"

  # Health and Status
  /health:
    get:
      summary: "ACTA framework health check"
      description: "Check health of all ACTA framework components"
      operationId: "getActaHealth"
      tags: ["Health"]
      responses:
        '200':
          description: "ACTA framework health"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActaHealth"

  /status:
    get:
      summary: "Get ACTA framework status"
      description: "Detailed status of ACTA framework components and services"
      operationId: "getActaStatus"
      tags: ["Health"]
      security:
        - api_key: []
      responses:
        '200':
          description: "ACTA framework status"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActaStatus"

components:
  schemas:
    CompressionRequest:
      type: "object"
      required: ["content", "context"]
      properties:
        content:
          type: "string"
          description: "Text content to compress"
          maxLength: 100000
        context:
          type: "object"
          required: ["domain", "task_type"]
          properties:
            domain:
              type: "string"
              example: "code_generation"
            task_type:
              type: "string"
              example: "function_implementation"
            priority:
              type: "string"
              enum: ["low", "normal", "high", "critical"]
              default: "normal"
            preserve_semantics:
              type: "boolean"
              default: true
        options:
          type: "object"
          properties:
            compression_level:
              type: "string"
              enum: ["conservative", "balanced", "aggressive"]
              default: "balanced"
            preserve_structure:
              type: "boolean"
              default: false
            vector_dimensions:
              type: "integer"
              minimum: 512
              maximum: 4096
              default: 1536

    CompressionResult:
      type: "object"
      required: ["compressed_content", "compression_ratio", "semantic_fidelity", "context_id"]
      properties:
        compressed_content:
          type: "string"
          description: "Compressed content with {TOKEN} notation"
        compression_ratio:
          type: "number"
          minimum: 0
          maximum: 1
          description: "Ratio of compressed to original token count"
        semantic_fidelity:
          type: "number"
          minimum: 0
          maximum: 1
          description: "Semantic similarity score"
        context_id:
          type: "string"
          format: "uuid"
          description: "ID for retrieving full context"
        original_tokens:
          type: "integer"
        compressed_tokens:
          type: "integer"
        vector_embedding:
          type: "array"
          items:
            type: "number"
        metadata:
          type: "object"
          properties:
            compression_time_ms:
              type: "number"
            algorithm_version:
              type: "string"
            vector_db_id:
              type: "string"

    DecompressionRequest:
      type: "object"
      required: ["compressed_content", "context_id"]
      properties:
        compressed_content:
          type: "string"
          description: "Compressed content with {TOKEN} notation"
        context_id:
          type: "string"
          format: "uuid"
        expansion_level:
          type: "string"
          enum: ["minimal", "standard", "full"]
          default: "standard"
        preserve_formatting:
          type: "boolean"
          default: true

    DecompressionResult:
      type: "object"
      required: ["decompressed_content", "fidelity_score", "reconstruction_time_ms"]
      properties:
        decompressed_content:
          type: "string"
        fidelity_score:
          type: "number"
          minimum: 0
          maximum: 1
        reconstruction_time_ms:
          type: "number"
        expansion_ratio:
          type: "number"
        confidence:
          type: "number"
          minimum: 0
          maximum: 1

    ModelRecommendationRequest:
      type: "object"
      required: ["task_description", "context"]
      properties:
        task_description:
          type: "string"
          maxLength: 2000
        context:
          type: "object"
          required: ["complexity", "domain"]
          properties:
            complexity:
              type: "string"
              enum: ["simple", "moderate", "complex", "expert"]
            domain:
              type: "string"
              example: "code_generation"
            priority:
              type: "string"
              enum: ["cost_optimized", "performance_optimized", "balanced"]
              default: "balanced"
            latency_requirements:
              type: "string"
              enum: ["real_time", "interactive", "batch"]
              default: "interactive"
        current_model:
          type: "string"
        budget_constraints:
          type: "object"
          properties:
            max_cost_per_request:
              type: "number"
            monthly_budget:
              type: "number"

    ModelRecommendation:
      type: "object"
      required: ["recommended_tier", "model_name", "confidence", "reasoning"]
      properties:
        recommended_tier:
          type: "string"
          enum: ["lightweight", "standard", "premium", "specialized"]
        model_name:
          type: "string"
        confidence:
          type: "number"
          minimum: 0
          maximum: 1
        reasoning:
          type: "string"
        estimated_performance:
          type: "object"
          properties:
            expected_quality_score:
              type: "number"
            estimated_cost:
              type: "number"
            estimated_latency_ms:
              type: "number"
        alternatives:
          type: "array"
          items:
            type: "object"
            properties:
              tier:
                type: "string"
              model_name:
                type: "string"
              score:
                type: "number"

    ModelSwitchRequest:
      type: "object"
      required: ["target_model", "context_preservation"]
      properties:
        target_model:
          type: "string"
        context_preservation:
          type: "boolean"
          default: true
        reason:
          type: "string"
        agent_id:
          type: "string"
          format: "uuid"

    ModelSwitchResult:
      type: "object"
      required: ["success", "old_model", "new_model", "switch_time_ms"]
      properties:
        success:
          type: "boolean"
        old_model:
          type: "string"
        new_model:
          type: "string"
        switch_time_ms:
          type: "number"
        context_preserved:
          type: "boolean"
        performance_estimate:
          type: "object"
          properties:
            expected_improvement:
              type: "number"
            cost_impact:
              type: "string"
              enum: ["decreased", "neutral", "increased"]

    ModelTiers:
      type: "object"
      required: ["tiers"]
      properties:
        tiers:
          type: "array"
          items:
            $ref: "#/components/schemas/ModelTier"

    ModelTier:
      type: "object"
      required: ["name", "description", "models", "use_cases", "performance"]
      properties:
        name:
          type: "string"
          enum: ["lightweight", "standard", "premium", "specialized"]
        description:
          type: "string"
        models:
          type: "array"
          items:
            type: "object"
            properties:
              name:
                type: "string"
              parameters:
                type: "string"
              provider:
                type: "string"
        use_cases:
          type: "array"
          items:
            type: "string"
        performance:
          type: "object"
          properties:
            typical_latency_ms:
              type: "number"
            cost_per_1k_tokens:
              type: "number"
            quality_score:
              type: "number"

    ContextGraphCreate:
      type: "object"
      required: ["name", "domain", "agent_id"]
      properties:
        name:
          type: "string"
          maxLength: 100
        description:
          type: "string"
          maxLength: 500
        domain:
          type: "string"
        agent_id:
          type: "string"
          format: "uuid"
        dimensions:
          type: "array"
          items:
            type: "string"
            enum: ["task", "domain", "interpersonal", "procedural"]
        retention_policy:
          type: "object"
          properties:
            max_age_days:
              type: "integer"
              minimum: 1
              maximum: 365
            max_entries:
              type: "integer"
              minimum: 100

    ContextGraph:
      allOf:
        - $ref: "#/components/schemas/ContextGraphCreate"
        - type: "object"
          required: ["id", "created_at", "updated_at", "stats"]
          properties:
            id:
              type: "string"
              format: "uuid"
            created_at:
              type: "string"
              format: "date-time"
            updated_at:
              type: "string"
              format: "date-time"
            stats:
              type: "object"
              properties:
                total_entries:
                  type: "integer"
                active_connections:
                  type: "integer"
                last_accessed:
                  type: "string"
                  format: "date-time"
                memory_usage_mb:
                  type: "number"

    ContextGraphUpdate:
      type: "object"
      properties:
        name:
          type: "string"
          maxLength: 100
        description:
          type: "string"
          maxLength: 500
        retention_policy:
          type: "object"
          properties:
            max_age_days:
              type: "integer"
            max_entries:
              type: "integer"

    ContextGraphList:
      type: "object"
      required: ["graphs", "total", "limit", "offset"]
      properties:
        graphs:
          type: "array"
          items:
            $ref: "#/components/schemas/ContextGraph"
        total:
          type: "integer"
        limit:
          type: "integer"
        offset:
          type: "integer"

    KnowledgeEntry:
      type: "object"
      required: ["content", "type", "dimension"]
      properties:
        content:
          type: "string"
          maxLength: 10000
        type:
          type: "string"
          enum: ["experience", "learning", "pattern", "rule", "fact"]
        dimension:
          type: "string"
          enum: ["task", "domain", "interpersonal", "procedural"]
        importance:
          type: "number"
          minimum: 0
          maximum: 1
          default: 0.5
        tags:
          type: "array"
          items:
            type: "string"
        source:
          type: "string"
        confidence:
          type: "number"
          minimum: 0
          maximum: 1
          default: 1.0

    KnowledgeResult:
      allOf:
        - $ref: "#/components/schemas/KnowledgeEntry"
        - type: "object"
          required: ["id", "created_at", "vector_id"]
          properties:
            id:
              type: "string"
              format: "uuid"
            created_at:
              type: "string"
              format: "date-time"
            vector_id:
              type: "string"
            processing_time_ms:
              type: "number"

    ContextQuery:
      type: "object"
      required: ["query"]
      properties:
        query:
          type: "string"
          maxLength: 1000
        dimension:
          type: "string"
          enum: ["task", "domain", "interpersonal", "procedural"]
        limit:
          type: "integer"
          minimum: 1
          maximum: 50
          default: 10
        similarity_threshold:
          type: "number"
          minimum: 0
          maximum: 1
          default: 0.7
        include_metadata:
          type: "boolean"
          default: true

    ContextQueryResult:
      type: "object"
      required: ["results", "query_time_ms"]
      properties:
        results:
          type: "array"
          items:
            type: "object"
            properties:
              knowledge:
                $ref: "#/components/schemas/KnowledgeResult"
              similarity:
                type: "number"
              relevance_score:
                type: "number"
        query_time_ms:
          type: "number"
        total_matches:
          type: "integer"

    PerformanceMetrics:
      type: "object"
      required: ["timeframe", "timestamp", "compression", "model_switching", "context_operations"]
      properties:
        timeframe:
          type: "string"
        timestamp:
          type: "string"
          format: "date-time"
        compression:
          type: "object"
          properties:
            total_operations:
              type: "integer"
            average_ratio:
              type: "number"
            average_fidelity:
              type: "number"
            average_time_ms:
              type: "number"
            token_savings:
              type: "integer"
        model_switching:
          type: "object"
          properties:
            total_switches:
              type: "integer"
            average_time_ms:
              type: "number"
            cost_savings_percent:
              type: "number"
            success_rate:
              type: "number"
        context_operations:
          type: "object"
          properties:
            queries_per_hour:
              type: "number"
            average_response_time_ms:
              type: "number"
            cache_hit_rate:
              type: "number"

    CompressionAnalytics:
      type: "object"
      required: ["summary", "trends", "distribution"]
      properties:
        summary:
          type: "object"
          properties:
            total_compressions:
              type: "integer"
            average_compression_ratio:
              type: "number"
            best_compression_ratio:
              type: "number"
            worst_compression_ratio:
              type: "number"
            average_semantic_fidelity:
              type: "number"
        trends:
          type: "array"
          items:
            type: "object"
            properties:
              timestamp:
                type: "string"
                format: "date-time"
              compression_ratio:
                type: "number"
              fidelity:
                type: "number"
        distribution:
          type: "object"
          properties:
            by_domain:
              type: "object"
              additionalProperties:
                type: "object"
            by_complexity:
              type: "object"
              additionalProperties:
                type: "number"

    ModelAnalytics:
      type: "object"
      required: ["switches", "utilization", "performance"]
      properties:
        switches:
          type: "object"
          properties:
            total:
              type: "integer"
            success_rate:
              type: "number"
            average_time_ms:
              type: "number"
            by_tier:
              type: "object"
              additionalProperties:
                type: "integer"
        utilization:
          type: "object"
          properties:
            by_tier:
              type: "object"
              additionalProperties:
                type: "number"
            peak_hours:
              type: "array"
              items:
                type: "integer"
        performance:
          type: "object"
          properties:
            cost_savings:
              type: "number"
            quality_improvement:
              type: "number"
            latency_reduction:
              type: "number"

    ActaHealth:
      type: "object"
      required: ["status", "version", "components", "timestamp"]
      properties:
        status:
          type: "string"
          enum: ["healthy", "degraded", "unhealthy"]
        version:
          type: "string"
        components:
          type: "object"
          properties:
            compression_engine:
              type: "string"
              enum: ["healthy", "degraded", "unhealthy"]
            model_router:
              type: "string"
              enum: ["healthy", "degraded", "unhealthy"]
            context_graph:
              type: "string"
              enum: ["healthy", "degraded", "unhealthy"]
            vector_database:
              type: "string"
              enum: ["healthy", "degraded", "unhealthy"]
        timestamp:
          type: "string"
          format: "date-time"

    ActaStatus:
      type: "object"
      required: ["framework_status", "services", "performance_indicators"]
      properties:
        framework_status:
          type: "string"
          enum: ["operational", "maintenance", "degraded", "offline"]
        services:
          type: "array"
          items:
            type: "object"
            properties:
              name:
                type: "string"
              status:
                type: "string"
              uptime:
                type: "number"
              last_heartbeat:
                type: "string"
                format: "date-time"
        performance_indicators:
          type: "object"
          properties:
            current_load:
              type: "number"
            active_sessions:
              type: "integer"
            memory_usage_percent:
              type: "number"
            cache_hit_rate:
              type: "number"

  responses:
    BadRequest:
      description: "Bad request"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              error:
                type: "string"
              details:
                type: "object"
              acta_context:
                type: "string"

    NotFound:
      description: "Resource not found"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              error:
                type: "string"
              resource_type:
                type: "string"
              resource_id:
                type: "string"

    RateLimited:
      description: "Rate limit exceeded"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              error:
                type: "string"
              retry_after:
                type: "integer"
              current_quota:
                type: "integer"

  securitySchemes:
    api_key:
      type: "apiKey"
      in: "header"
      name: "X-ACTA-API-Key"
      description: "ACTA Framework API key"

    bearer:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"

security:
  - api_key: []
  - bearer: []

tags:
  - name: "Compression"
    description: "Vector-semantic token compression and decompression"
  - name: "Models"
    description: "Intelligent model selection and switching"
  - name: "Context"
    description: "Persistent context graph management"
  - name: "Analytics"
    description: "Performance analytics and optimization insights"
  - name: "Health"
    description: "Framework health and status monitoring"

x-acta-framework-extensions:
  vector_database:
    provider: "qdrant"
    dimensions: 1536
    collection_name: "acta_contexts"
  compression_algorithms:
    - "semantic_clustering"
    - "token_substitution"
    - "context_aware_reduction"
  model_providers:
    - "openai"
    - "anthropic"
    - "google"
    - "local"
  performance_targets:
    compression_ratio: ">= 60%"
    semantic_fidelity: ">= 90%"
    switch_time: "< 100ms"
    cost_reduction: ">= 40%"