# Minimal CI - Just deploy website
# Everything else commented out until website is up

stages:
  - deploy

variables:
  NODE_VERSION: "22"

pages:
  stage: deploy
  image: node:22-alpine
  before_script:
    - cd website
    - npm ci
    - apk add --no-cache git curl
  script:
    - npm run build
    - mv out ../public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual
