openapi: 3.1.0
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
info:
  title: MCP Infrastructure API
  description: |
    MCP Infrastructure Deployment and Management System for OSSA v0.1.9.
    Provides comprehensive MCP server registry, service discovery, orchestration,
    and infrastructure management with 99.9% uptime targets.
  version: "@bluefly/ossa/v0.1.9"
  contact:
    name: OSSA Framework
    url: https://gitlab.bluefly.io/llm/openapi-ai-agents-standard
  license:
    name: MIT
    url: https://gitlab.bluefly.io/llm/openapi-ai-agents-standard/-/blob/main/LICENSE

servers:
  - url: https://api.ossa.bluefly.io/mcp-infra
    description: MCP Infrastructure API Server

paths:
  /registry/servers:
    get:
      summary: List registered MCP servers
      description: Get all registered MCP servers with filtering and pagination
      operationId: listMcpServers
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, deploying, failed, maintenance]
        - name: category
          in: query
          schema:
            type: string
            enum: [core, tier1, tier2, custom, experimental]
        - name: version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of MCP servers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServerList'

    post:
      summary: Register new MCP server
      description: Register a new MCP server in the infrastructure
      operationId: registerMcpServer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpServerRegistration'
      responses:
        '201':
          description: MCP server registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServerDetail'
        '400':
          $ref: '#/components/responses/BadRequest'

  /registry/servers/{serverId}:
    get:
      summary: Get MCP server details
      operationId: getMcpServer
      parameters:
        - name: serverId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: MCP server details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServerDetail'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update MCP server configuration
      operationId: updateMcpServer
      parameters:
        - name: serverId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpServerUpdate'
      responses:
        '200':
          description: MCP server updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServerDetail'

    delete:
      summary: Unregister MCP server
      operationId: unregisterMcpServer
      parameters:
        - name: serverId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: MCP server unregistered
        '404':
          $ref: '#/components/responses/NotFound'

  /deployment/deploy:
    post:
      summary: Deploy MCP server
      description: Deploy MCP server to infrastructure with orchestration
      operationId: deployMcpServer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentRequest'
      responses:
        '202':
          description: Deployment initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponse'

  /deployment/status/{deploymentId}:
    get:
      summary: Get deployment status
      operationId: getDeploymentStatus
      parameters:
        - name: deploymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deployment status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentStatus'

  /discovery/services:
    get:
      summary: Discover available MCP services
      description: Service discovery with health checking and load balancing
      operationId: discoverServices
      parameters:
        - name: serviceType
          in: query
          schema:
            type: string
        - name: capability
          in: query
          schema:
            type: string
        - name: region
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Available services
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDiscoveryResponse'

  /health/check:
    get:
      summary: Health check for infrastructure
      description: Comprehensive health check of MCP infrastructure
      operationId: healthCheck
      responses:
        '200':
          description: Infrastructure health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /health/servers/{serverId}:
    get:
      summary: Health check for specific MCP server
      operationId: checkServerHealth
      parameters:
        - name: serverId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Server health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerHealthStatus'

  /monitoring/metrics:
    get:
      summary: Get infrastructure metrics
      description: Comprehensive metrics for monitoring and alerting
      operationId: getInfrastructureMetrics
      parameters:
        - name: timeRange
          in: query
          schema:
            type: string
            enum: [1h, 6h, 24h, 7d, 30d]
            default: 24h
        - name: serverId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Infrastructure metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureMetrics'

  /scaling/auto-scale:
    post:
      summary: Configure auto-scaling
      description: Set up auto-scaling policies for MCP servers
      operationId: configureAutoScaling
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoScalingConfig'
      responses:
        '200':
          description: Auto-scaling configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoScalingResponse'

  /load-balancer/config:
    get:
      summary: Get load balancer configuration
      operationId: getLoadBalancerConfig
      responses:
        '200':
          description: Load balancer configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerConfig'

    put:
      summary: Update load balancer configuration
      operationId: updateLoadBalancerConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancerConfigUpdate'
      responses:
        '200':
          description: Load balancer updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerConfig'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for accessing services
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authenticated requests
    OAuth2:
      type: oauth2
      description: OAuth2 authentication
      flows:
        authorizationCode:
          authorizationUrl: https://auth.llm.bluefly.io/oauth/authorize
          tokenUrl: https://auth.llm.bluefly.io/oauth/token
          scopes:
            read: Read access to resources
            write: Write access to resources
            admin: Administrative access
  schemas:
    McpServerList:
      type: object
      properties:
        servers:
          type: array
          items:
            $ref: '#/components/schemas/McpServerSummary'
        pagination:
          $ref: '#/components/schemas/Pagination'
        filters:
          type: object
          additionalProperties: true

    McpServerSummary:
      type: object
      properties:
        serverId:
          type: string
        name:
          type: string
        category:
          type: string
          enum: [core, tier1, tier2, custom, experimental]
        status:
          type: string
          enum: [active, inactive, deploying, failed, maintenance]
        version:
          type: string
        endpoint:
          type: string
        lastHealthCheck:
          type: string
          format: date-time
        uptime:
          type: number
          description: Uptime percentage

    McpServerDetail:
      type: object
      properties:
        serverId:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string
        status:
          type: string
        version:
          type: string
        endpoint:
          type: string
        capabilities:
          type: array
          items:
            type: string
        configuration:
          type: object
          additionalProperties: true
        deployment:
          $ref: '#/components/schemas/DeploymentInfo'
        health:
          $ref: '#/components/schemas/ServerHealthStatus'
        metrics:
          $ref: '#/components/schemas/ServerMetrics'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    McpServerRegistration:
      type: object
      required:
        - name
        - category
        - specification
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [core, tier1, tier2, custom, experimental]
        version:
          type: string
        specification:
          type: object
          properties:
            openapi:
              type: string
              description: OpenAPI specification URL or content
            capabilities:
              type: array
              items:
                type: string
        deployment:
          $ref: '#/components/schemas/DeploymentConfig'
        healthCheck:
          $ref: '#/components/schemas/HealthCheckConfig'

    McpServerUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        version:
          type: string
        configuration:
          type: object
          additionalProperties: true
        deployment:
          $ref: '#/components/schemas/DeploymentConfig'

    DeploymentRequest:
      type: object
      required:
        - serverId
        - environment
      properties:
        serverId:
          type: string
        environment:
          type: string
          enum: [development, staging, production]
        configuration:
          type: object
          additionalProperties: true
        scaling:
          $ref: '#/components/schemas/ScalingConfig'
        resources:
          $ref: '#/components/schemas/ResourceConfig'

    DeploymentResponse:
      type: object
      properties:
        deploymentId:
          type: string
        serverId:
          type: string
        status:
          type: string
          enum: [initiated, building, deploying, running, failed]
        environment:
          type: string
        estimatedCompletion:
          type: string
          format: date-time
        deploymentUrl:
          type: string

    DeploymentStatus:
      type: object
      properties:
        deploymentId:
          type: string
        serverId:
          type: string
        status:
          type: string
        progress:
          type: number
          minimum: 0
          maximum: 100
        steps:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentStep'
        logs:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentLog'
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time

    ServiceDiscoveryResponse:
      type: object
      properties:
        services:
          type: array
          items:
            $ref: '#/components/schemas/DiscoveredService'
        discoveredAt:
          type: string
          format: date-time
        region:
          type: string

    DiscoveredService:
      type: object
      properties:
        serverId:
          type: string
        name:
          type: string
        endpoint:
          type: string
        capabilities:
          type: array
          items:
            type: string
        health:
          type: string
          enum: [healthy, degraded, unhealthy]
        loadFactor:
          type: number
          minimum: 0
          maximum: 1
        responseTime:
          type: number
          description: Average response time in milliseconds

    HealthStatus:
      type: object
      properties:
        overall:
          type: string
          enum: [healthy, degraded, unhealthy]
        uptime:
          type: number
          description: Infrastructure uptime percentage
        services:
          type: object
          properties:
            total:
              type: integer
            healthy:
              type: integer
            degraded:
              type: integer
            unhealthy:
              type: integer
        components:
          type: array
          items:
            $ref: '#/components/schemas/ComponentHealth'
        lastCheck:
          type: string
          format: date-time

    ServerHealthStatus:
      type: object
      properties:
        serverId:
          type: string
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        checks:
          type: array
          items:
            $ref: '#/components/schemas/HealthCheck'
        uptime:
          type: number
        responseTime:
          type: number
        lastCheck:
          type: string
          format: date-time

    InfrastructureMetrics:
      type: object
      properties:
        timeRange:
          type: string
        overall:
          $ref: '#/components/schemas/OverallMetrics'
        servers:
          type: array
          items:
            $ref: '#/components/schemas/ServerMetrics'
        network:
          $ref: '#/components/schemas/NetworkMetrics'
        resources:
          $ref: '#/components/schemas/ResourceMetrics'

    AutoScalingConfig:
      type: object
      required:
        - serverId
        - rules
      properties:
        serverId:
          type: string
        enabled:
          type: boolean
          default: true
        rules:
          type: array
          items:
            $ref: '#/components/schemas/ScalingRule'
        limits:
          type: object
          properties:
            minInstances:
              type: integer
              minimum: 1
            maxInstances:
              type: integer
              maximum: 100

    AutoScalingResponse:
      type: object
      properties:
        configId:
          type: string
        serverId:
          type: string
        enabled:
          type: boolean
        rules:
          type: array
          items:
            $ref: '#/components/schemas/ScalingRule'

    LoadBalancerConfig:
      type: object
      properties:
        algorithm:
          type: string
          enum: [round-robin, least-connections, weighted, ip-hash]
        healthCheck:
          $ref: '#/components/schemas/HealthCheckConfig'
        stickySessions:
          type: boolean
        timeouts:
          type: object
          properties:
            connect:
              type: integer
            read:
              type: integer
            write:
              type: integer

    LoadBalancerConfigUpdate:
      type: object
      properties:
        algorithm:
          type: string
          enum: [round-robin, least-connections, weighted, ip-hash]
        healthCheck:
          $ref: '#/components/schemas/HealthCheckConfig'
        stickySessions:
          type: boolean
        timeouts:
          type: object
          additionalProperties:
            type: integer

    DeploymentConfig:
      type: object
      properties:
        containerImage:
          type: string
        replicas:
          type: integer
          minimum: 1
        resources:
          $ref: '#/components/schemas/ResourceConfig'
        environment:
          type: object
          additionalProperties:
            type: string
        volumes:
          type: array
          items:
            type: object

    HealthCheckConfig:
      type: object
      properties:
        endpoint:
          type: string
        interval:
          type: integer
          description: Health check interval in seconds
        timeout:
          type: integer
          description: Health check timeout in seconds
        retries:
          type: integer
          description: Number of retries before marking unhealthy

    ScalingConfig:
      type: object
      properties:
        minReplicas:
          type: integer
          minimum: 1
        maxReplicas:
          type: integer
        targetCpuUtilization:
          type: number
          minimum: 1
          maximum: 100

    ResourceConfig:
      type: object
      properties:
        cpu:
          type: string
          description: CPU request/limit (e.g., "100m", "1")
        memory:
          type: string
          description: Memory request/limit (e.g., "128Mi", "1Gi")
        storage:
          type: string
          description: Storage request (e.g., "1Gi", "10Gi")

    DeploymentInfo:
      type: object
      properties:
        environment:
          type: string
        replicas:
          type: integer
        status:
          type: string
        lastDeployment:
          type: string
          format: date-time

    ServerMetrics:
      type: object
      properties:
        serverId:
          type: string
        cpu:
          type: number
          description: CPU utilization percentage
        memory:
          type: number
          description: Memory utilization percentage
        disk:
          type: number
          description: Disk utilization percentage
        requests:
          type: object
          properties:
            total:
              type: integer
            errors:
              type: integer
            averageResponseTime:
              type: number

    ComponentHealth:
      type: object
      properties:
        component:
          type: string
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        message:
          type: string

    HealthCheck:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [pass, fail, warn]
        message:
          type: string
        duration:
          type: number

    OverallMetrics:
      type: object
      properties:
        uptime:
          type: number
        totalRequests:
          type: integer
        errorRate:
          type: number
        averageResponseTime:
          type: number

    NetworkMetrics:
      type: object
      properties:
        bandwidth:
          type: object
          properties:
            incoming:
              type: number
            outgoing:
              type: number
        latency:
          type: number
        packetLoss:
          type: number

    ResourceMetrics:
      type: object
      properties:
        cpu:
          type: object
          properties:
            total:
              type: number
            used:
              type: number
            utilization:
              type: number
        memory:
          type: object
          properties:
            total:
              type: number
            used:
              type: number
            utilization:
              type: number

    ScalingRule:
      type: object
      properties:
        metric:
          type: string
          enum: [cpu, memory, requests, custom]
        threshold:
          type: number
        action:
          type: string
          enum: [scale-up, scale-down]
        cooldown:
          type: integer
          description: Cooldown period in seconds

    DeploymentStep:
      type: object
      properties:
        step:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed]
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time

    DeploymentLog:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        level:
          type: string
          enum: [debug, info, warn, error]
        message:
          type: string
        source:
          type: string

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string

security:
  - ApiKeyAuth: []
  - BearerAuth: []