openapi: 3.1.0
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
info:
  title: Automated Project Discovery API
  description: |
    Automated Project Discovery and Intelligence System for OSSA v0.1.9.
    AI-powered universal project scanning, classification, and intelligence gathering
    with scalable discovery capabilities for large codebases.
  version: "@bluefly/ossa/v0.1.9"
  contact:
    name: OSSA Framework
    url: https://gitlab.bluefly.io/llm/openapi-ai-agents-standard
  license:
    name: MIT
    url: https://gitlab.bluefly.io/llm/openapi-ai-agents-standard/-/blob/main/LICENSE

servers:
  - url: https://api.ossa.bluefly.io/discovery
    description: Project Discovery API Server

paths:
  /scan/repositories:
    post:
      summary: Scan repositories for projects
      description: Comprehensive scanning and discovery of projects across repositories
      operationId: scanRepositories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryScanRequest'
      responses:
        '202':
          description: Scan initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /scan/status/{scanId}:
    get:
      summary: Get scan status
      operationId: getScanStatus
      parameters:
        - name: scanId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scan status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanStatus'

  /classify/projects:
    post:
      summary: Classify discovered projects
      description: AI-powered classification of projects using pattern recognition
      operationId: classifyProjects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassificationRequest'
      responses:
        '200':
          description: Projects classified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationResponse'

  /analyze/dependencies:
    post:
      summary: Analyze project dependencies
      description: Deep dependency analysis and mapping with vulnerability scanning
      operationId: analyzeDependencies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DependencyAnalysisRequest'
      responses:
        '200':
          description: Dependency analysis completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DependencyAnalysisResponse'

  /analyze/architecture:
    post:
      summary: Detect architecture patterns
      description: AI-powered architecture pattern detection and analysis
      operationId: detectArchitecture
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchitectureAnalysisRequest'
      responses:
        '200':
          description: Architecture analysis completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchitectureAnalysisResponse'

  /analyze/technology:
    post:
      summary: Identify technology stack
      description: Comprehensive technology stack identification and versioning
      operationId: identifyTechnology
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TechnologyAnalysisRequest'
      responses:
        '200':
          description: Technology analysis completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechnologyAnalysisResponse'

  /metrics/quality:
    post:
      summary: Calculate quality metrics
      description: Comprehensive quality metrics calculation with AI-powered insights
      operationId: calculateQualityMetrics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QualityMetricsRequest'
      responses:
        '200':
          description: Quality metrics calculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityMetricsResponse'

  /assess/risk:
    post:
      summary: Automated risk assessment
      description: AI-powered risk assessment with predictive analysis
      operationId: assessRisk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskAssessmentRequest'
      responses:
        '200':
          description: Risk assessment completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAssessmentResponse'

  /recommendations/generate:
    post:
      summary: Generate AI recommendations
      description: AI-powered recommendation engine for improvements and actions
      operationId: generateRecommendations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendationRequest'
      responses:
        '200':
          description: Recommendations generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationResponse'

  /projects:
    get:
      summary: List discovered projects
      description: Get paginated list of all discovered projects with advanced filtering
      operationId: listDiscoveredProjects
      parameters:
        - name: technology
          in: query
          schema:
            type: string
        - name: architecture
          in: query
          schema:
            type: string
        - name: qualityScore
          in: query
          schema:
            type: string
            pattern: '^(gte|lte|eq):[0-9]+$'
        - name: riskLevel
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: lastScanned
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: List of discovered projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveredProjectList'

  /projects/{projectId}:
    get:
      summary: Get project intelligence
      description: Comprehensive project intelligence with AI insights
      operationId: getProjectIntelligence
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project intelligence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectIntelligence'
        '404':
          $ref: '#/components/responses/NotFound'

  /search/semantic:
    post:
      summary: Semantic search across projects
      description: AI-powered semantic search with natural language queries
      operationId: semanticSearch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SemanticSearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SemanticSearchResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for accessing services
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authenticated requests
    OAuth2:
      type: oauth2
      description: OAuth2 authentication
      flows:
        authorizationCode:
          authorizationUrl: https://auth.llm.bluefly.io/oauth/authorize
          tokenUrl: https://auth.llm.bluefly.io/oauth/token
          scopes:
            read: Read access to resources
            write: Write access to resources
            admin: Administrative access
  schemas:
    RepositoryScanRequest:
      type: object
      required:
        - repositories
      properties:
        repositories:
          type: array
          items:
            $ref: '#/components/schemas/RepositoryConfig'
        scanOptions:
          $ref: '#/components/schemas/ScanOptions'
        aiConfig:
          $ref: '#/components/schemas/AIConfiguration'

    RepositoryConfig:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
        branch:
          type: string
          default: main
        credentials:
          $ref: '#/components/schemas/RepositoryCredentials'
        excludePaths:
          type: array
          items:
            type: string
        includePaths:
          type: array
          items:
            type: string

    ScanOptions:
      type: object
      properties:
        depth:
          type: string
          enum: [shallow, standard, deep, comprehensive]
          default: standard
        includeArchived:
          type: boolean
          default: false
        analyzeCode:
          type: boolean
          default: true
        analyzeDependencies:
          type: boolean
          default: true
        detectArchitecture:
          type: boolean
          default: true
        calculateMetrics:
          type: boolean
          default: true
        concurrency:
          type: integer
          minimum: 1
          maximum: 10
          default: 3

    AIConfiguration:
      type: object
      properties:
        enablePatternRecognition:
          type: boolean
          default: true
        enableQualityPrediction:
          type: boolean
          default: true
        enableRecommendations:
          type: boolean
          default: true
        confidenceThreshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.7

    ScanResponse:
      type: object
      properties:
        scanId:
          type: string
        status:
          type: string
          enum: [initiated, scanning, analyzing, completed, failed]
        estimatedCompletion:
          type: string
          format: date-time
        repositoriesCount:
          type: integer

    ScanStatus:
      type: object
      properties:
        scanId:
          type: string
        status:
          type: string
        progress:
          type: number
          minimum: 0
          maximum: 100
        currentPhase:
          type: string
        projectsDiscovered:
          type: integer
        phases:
          type: array
          items:
            $ref: '#/components/schemas/ScanPhase'
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        errors:
          type: array
          items:
            type: string

    ClassificationRequest:
      type: object
      required:
        - projectIds
      properties:
        projectIds:
          type: array
          items:
            type: string
        classificationRules:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationRule'
        aiModel:
          type: string
          enum: [standard, advanced, custom]
          default: standard

    ClassificationResponse:
      type: object
      properties:
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/ProjectClassification'
        summary:
          type: object
          properties:
            total:
              type: integer
            byCategory:
              type: object
              additionalProperties:
                type: integer
        confidence:
          type: number

    DependencyAnalysisRequest:
      type: object
      required:
        - projectId
      properties:
        projectId:
          type: string
        analysisType:
          type: string
          enum: [direct, transitive, all]
          default: all
        includeVulnerabilities:
          type: boolean
          default: true
        includeLicenses:
          type: boolean
          default: true
        includeOutdated:
          type: boolean
          default: true

    DependencyAnalysisResponse:
      type: object
      properties:
        projectId:
          type: string
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/Dependency'
        dependencyTree:
          $ref: '#/components/schemas/DependencyTree'
        vulnerabilities:
          type: array
          items:
            $ref: '#/components/schemas/Vulnerability'
        licenses:
          type: array
          items:
            $ref: '#/components/schemas/License'
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/DependencyRecommendation'

    ArchitectureAnalysisRequest:
      type: object
      required:
        - projectId
      properties:
        projectId:
          type: string
        analysisDepth:
          type: string
          enum: [basic, detailed, comprehensive]
          default: detailed
        detectPatterns:
          type: array
          items:
            type: string
            enum: [mvc, mvp, mvvm, clean, hexagonal, microservices, monolith, layered]

    ArchitectureAnalysisResponse:
      type: object
      properties:
        projectId:
          type: string
        detectedPatterns:
          type: array
          items:
            $ref: '#/components/schemas/ArchitecturePattern'
        structure:
          $ref: '#/components/schemas/ProjectStructure'
        compliance:
          $ref: '#/components/schemas/ArchitectureCompliance'
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/ArchitectureRecommendation'

    TechnologyAnalysisRequest:
      type: object
      required:
        - projectId
      properties:
        projectId:
          type: string
        includeVersions:
          type: boolean
          default: true
        detectFrameworks:
          type: boolean
          default: true
        analyzeToolchain:
          type: boolean
          default: true

    TechnologyAnalysisResponse:
      type: object
      properties:
        projectId:
          type: string
        primaryLanguage:
          type: string
        languages:
          type: array
          items:
            $ref: '#/components/schemas/Language'
        frameworks:
          type: array
          items:
            $ref: '#/components/schemas/Framework'
        toolchain:
          $ref: '#/components/schemas/Toolchain'
        buildSystem:
          type: string
        packageManager:
          type: string

    QualityMetricsRequest:
      type: object
      required:
        - projectId
      properties:
        projectId:
          type: string
        metrics:
          type: array
          items:
            type: string
            enum: [complexity, maintainability, testability, reliability, security, performance]
        includeDetails:
          type: boolean
          default: true

    QualityMetricsResponse:
      type: object
      properties:
        projectId:
          type: string
        overallScore:
          type: number
          minimum: 0
          maximum: 100
        metrics:
          type: object
          properties:
            complexity:
              $ref: '#/components/schemas/ComplexityMetrics'
            maintainability:
              $ref: '#/components/schemas/MaintainabilityMetrics'
            testability:
              $ref: '#/components/schemas/TestabilityMetrics'
            reliability:
              $ref: '#/components/schemas/ReliabilityMetrics'
            security:
              $ref: '#/components/schemas/SecurityMetrics'
            performance:
              $ref: '#/components/schemas/PerformanceMetrics'
        trends:
          type: array
          items:
            $ref: '#/components/schemas/QualityTrend'

    RiskAssessmentRequest:
      type: object
      required:
        - projectId
      properties:
        projectId:
          type: string
        riskCategories:
          type: array
          items:
            type: string
            enum: [technical, security, operational, compliance, business]
        timeHorizon:
          type: string
          enum: [short, medium, long]
          default: medium

    RiskAssessmentResponse:
      type: object
      properties:
        projectId:
          type: string
        overallRisk:
          type: string
          enum: [low, medium, high, critical]
        riskScore:
          type: number
          minimum: 0
          maximum: 100
        risks:
          type: array
          items:
            $ref: '#/components/schemas/Risk'
        mitigation:
          type: array
          items:
            $ref: '#/components/schemas/RiskMitigation'

    RecommendationRequest:
      type: object
      required:
        - projectId
      properties:
        projectId:
          type: string
        categories:
          type: array
          items:
            type: string
            enum: [performance, security, maintainability, architecture, dependencies]
        priority:
          type: string
          enum: [all, high, critical]
          default: all

    RecommendationResponse:
      type: object
      properties:
        projectId:
          type: string
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/AIRecommendation'
        prioritizedActions:
          type: array
          items:
            $ref: '#/components/schemas/PrioritizedAction'

    DiscoveredProjectList:
      type: object
      properties:
        projects:
          type: array
          items:
            $ref: '#/components/schemas/DiscoveredProjectSummary'
        pagination:
          $ref: '#/components/schemas/Pagination'
        filters:
          type: object
          properties:
            applied:
              type: object
              additionalProperties: true
            available:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string

    ProjectIntelligence:
      type: object
      properties:
        projectId:
          type: string
        basicInfo:
          $ref: '#/components/schemas/ProjectBasicInfo'
        classification:
          $ref: '#/components/schemas/ProjectClassification'
        technology:
          $ref: '#/components/schemas/TechnologyAnalysisResponse'
        architecture:
          $ref: '#/components/schemas/ArchitectureAnalysisResponse'
        dependencies:
          $ref: '#/components/schemas/DependencyAnalysisResponse'
        quality:
          $ref: '#/components/schemas/QualityMetricsResponse'
        risks:
          $ref: '#/components/schemas/RiskAssessmentResponse'
        recommendations:
          $ref: '#/components/schemas/RecommendationResponse'
        lastUpdated:
          type: string
          format: date-time

    SemanticSearchRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
        searchType:
          type: string
          enum: [projects, code, architecture, dependencies]
          default: projects
        filters:
          type: object
          additionalProperties: true
        limit:
          type: integer
          default: 10
          maximum: 100

    SemanticSearchResponse:
      type: object
      properties:
        query:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
        total:
          type: integer
        searchTime:
          type: number

    # Supporting schemas
    RepositoryCredentials:
      type: object
      properties:
        type:
          type: string
          enum: [token, ssh, basic, oauth]
        value:
          type: string
        username:
          type: string

    ScanPhase:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed]
        progress:
          type: number
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time

    ClassificationRule:
      type: object
      properties:
        field:
          type: string
        operator:
          type: string
          enum: [equals, contains, regex, gt, lt]
        value:
          type: string
        category:
          type: string

    ProjectClassification:
      type: object
      properties:
        projectId:
          type: string
        category:
          type: string
        subcategory:
          type: string
        confidence:
          type: number
        reasons:
          type: array
          items:
            type: string

    Dependency:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        type:
          type: string
          enum: [direct, transitive]
        ecosystem:
          type: string
        license:
          type: string
        vulnerabilities:
          type: array
          items:
            type: string

    DependencyTree:
      type: object
      properties:
        root:
          type: string
        children:
          type: array
          items:
            $ref: '#/components/schemas/DependencyNode'

    DependencyNode:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        children:
          type: array
          items:
            $ref: '#/components/schemas/DependencyNode'

    Vulnerability:
      type: object
      properties:
        id:
          type: string
        severity:
          type: string
          enum: [low, medium, high, critical]
        description:
          type: string
        affectedVersions:
          type: string
        fixedVersion:
          type: string

    License:
      type: object
      properties:
        name:
          type: string
        spdxId:
          type: string
        url:
          type: string
        riskLevel:
          type: string
          enum: [low, medium, high]

    DependencyRecommendation:
      type: object
      properties:
        type:
          type: string
          enum: [update, remove, replace, security-fix]
        dependency:
          type: string
        recommendation:
          type: string
        priority:
          type: string

    ArchitecturePattern:
      type: object
      properties:
        pattern:
          type: string
        confidence:
          type: number
        evidence:
          type: array
          items:
            type: string
        compliance:
          type: number

    ProjectStructure:
      type: object
      properties:
        layers:
          type: array
          items:
            $ref: '#/components/schemas/ArchitectureLayer'
        modules:
          type: array
          items:
            $ref: '#/components/schemas/Module'
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/Relationship'

    ArchitectureLayer:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        files:
          type: array
          items:
            type: string

    Module:
      type: object
      properties:
        name:
          type: string
        path:
          type: string
        type:
          type: string
        complexity:
          type: number

    Relationship:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
        type:
          type: string
        strength:
          type: number

    ArchitectureCompliance:
      type: object
      properties:
        overall:
          type: number
        violations:
          type: array
          items:
            $ref: '#/components/schemas/ComplianceViolation'

    ComplianceViolation:
      type: object
      properties:
        rule:
          type: string
        severity:
          type: string
        description:
          type: string
        location:
          type: string

    ArchitectureRecommendation:
      type: object
      properties:
        type:
          type: string
        description:
          type: string
        impact:
          type: string
        effort:
          type: string

    Language:
      type: object
      properties:
        name:
          type: string
        percentage:
          type: number
        version:
          type: string
        linesOfCode:
          type: integer

    Framework:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        category:
          type: string
        confidence:
          type: number

    Toolchain:
      type: object
      properties:
        buildTools:
          type: array
          items:
            type: string
        testingFrameworks:
          type: array
          items:
            type: string
        cicd:
          type: array
          items:
            type: string
        linters:
          type: array
          items:
            type: string

    ComplexityMetrics:
      type: object
      properties:
        cyclomatic:
          type: number
        cognitive:
          type: number
        halstead:
          type: number
        score:
          type: number

    MaintainabilityMetrics:
      type: object
      properties:
        index:
          type: number
        codeSmells:
          type: integer
        duplication:
          type: number
        score:
          type: number

    TestabilityMetrics:
      type: object
      properties:
        coverage:
          type: number
        testRatio:
          type: number
        isolationScore:
          type: number
        score:
          type: number

    ReliabilityMetrics:
      type: object
      properties:
        bugDensity:
          type: number
        errorProneness:
          type: number
        stability:
          type: number
        score:
          type: number

    SecurityMetrics:
      type: object
      properties:
        vulnerabilities:
          type: integer
        hotspots:
          type: integer
        riskScore:
          type: number
        score:
          type: number

    PerformanceMetrics:
      type: object
      properties:
        algorithmicComplexity:
          type: number
        memoryUsage:
          type: number
        optimizationScore:
          type: number
        score:
          type: number

    QualityTrend:
      type: object
      properties:
        date:
          type: string
          format: date
        metric:
          type: string
        value:
          type: number

    Risk:
      type: object
      properties:
        category:
          type: string
        type:
          type: string
        probability:
          type: string
          enum: [low, medium, high]
        impact:
          type: string
          enum: [low, medium, high]
        description:
          type: string
        evidence:
          type: array
          items:
            type: string

    RiskMitigation:
      type: object
      properties:
        riskType:
          type: string
        strategy:
          type: string
        actions:
          type: array
          items:
            type: string
        priority:
          type: string

    AIRecommendation:
      type: object
      properties:
        category:
          type: string
        type:
          type: string
        title:
          type: string
        description:
          type: string
        rationale:
          type: string
        impact:
          type: string
          enum: [low, medium, high]
        effort:
          type: string
          enum: [low, medium, high]
        confidence:
          type: number
        steps:
          type: array
          items:
            type: string

    PrioritizedAction:
      type: object
      properties:
        action:
          type: string
        priority:
          type: integer
        urgency:
          type: string
        impact:
          type: string
        effort:
          type: string

    DiscoveredProjectSummary:
      type: object
      properties:
        projectId:
          type: string
        name:
          type: string
        repository:
          type: string
        primaryLanguage:
          type: string
        qualityScore:
          type: number
        riskLevel:
          type: string
        lastScanned:
          type: string
          format: date-time

    ProjectBasicInfo:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        repository:
          type: string
        branch:
          type: string
        size:
          type: object
          properties:
            files:
              type: integer
            linesOfCode:
              type: integer
            bytes:
              type: integer

    SearchResult:
      type: object
      properties:
        type:
          type: string
        projectId:
          type: string
        title:
          type: string
        description:
          type: string
        relevance:
          type: number
        highlights:
          type: array
          items:
            type: string

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string