openapi: 3.1.0
info:
  title: Document Analyzer Agent API
  version: 2.1.0
  description: |
    Production document analysis agent with NLP capabilities.
    Analyzes documents for sentiment, extracts entities, generates summaries, and classifies content.

x-ossa-metadata:
  version: 0.2.5-RC
  compliance:
    level: intermediate
    frameworks:
      - OSSA
      - OpenAPI 3.1

x-ossa:
  version: 0.2.5-RC
  agent:
    id: document-analyzer
    type: worker
    compliance:
      standards:
        - openapi-first
        - type-safe
      validated: true
      validatedAt: "2024-01-15T10:00:00Z"

servers:
  - url: https://document-analyzer.platform.com/api/v1
    description: Production

tags:
  - name: analysis
    description: Document analysis operations
  - name: extraction
    description: Text extraction operations

paths:
  /analyze:
    post:
      summary: Analyze document
      description: Comprehensive document analysis with sentiment and entity extraction
      operationId: analyzeDocument
      tags: [analysis]
      x-ossa-capability: analyze_document
      x-ossa-autonomy:
        level: autonomous
        approval_required: false
      x-ossa-llm:
        provider: openai
        model: gpt-4o-mini
        temperature: 0.3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [document]
              properties:
                document:
                  type: string
                  description: Document text to analyze
                include_entities:
                  type: boolean
                  default: true
                include_sentiment:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Analysis completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  sentiment:
                    type: object
                    properties:
                      score:
                        type: number
                      label:
                        type: string
                      confidence:
                        type: number
                  entities:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        text:
                          type: string
                        start:
                          type: integer
                        end:
                          type: integer
                  summary:
                    type: string

  /extract:
    post:
      summary: Extract text from document
      description: Extract text from various document formats (PDF, DOCX, images)
      operationId: extractText
      tags: [extraction]
      x-ossa-capability: extract_text
      x-ossa-autonomy:
        level: autonomous
        approval_required: false
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [document]
              properties:
                document:
                  type: string
                  format: binary
                  description: Document file to extract text from
      responses:
        '200':
          description: Text extracted
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                  metadata:
                    type: object
                    properties:
                      format:
                        type: string
                      pages:
                        type: integer

  /summarize:
    post:
      summary: Summarize document
      description: Generate concise document summary
      operationId: summarizeDocument
      tags: [analysis]
      x-ossa-capability: summarize_document
      x-ossa-autonomy:
        level: autonomous
        approval_required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  description: Document text to summarize
                max_length:
                  type: integer
                  default: 500
                  description: Maximum summary length in characters
      responses:
        '200':
          description: Summary generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: string
                  length:
                    type: integer

  /classify:
    post:
      summary: Classify document
      description: Classify document into predefined categories
      operationId: classifyDocument
      tags: [analysis]
      x-ossa-capability: classify_document
      x-ossa-autonomy:
        level: autonomous
        approval_required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  description: Document text to classify
      responses:
        '200':
          description: Classification completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: string
                  confidence:
                    type: number
                    minimum: 0
                    maximum: 1

