openapi: 3.1.0
info:
  title: Policy Compliance Governor Agent API
  version: 0.3.3
  description: |
    Governance agent enforcing policies, compliance, and security standards across systems.
    Validates compliance, assesses risks, and generates audit reports.

x-ossa-metadata:
  version: 0.2.5-RC
  compliance:
    level: enterprise
    frameworks:
      - OSSA
      - OpenAPI 3.1
      - SOC2
      - PCI-DSS
      - GDPR
      - HIPAA
      - ISO27001
  governance:
    approved: true
    approvedBy: Governance Team
    approvalDate: "2024-01-15"

x-ossa:
  version: 0.2.5-RC
  agent:
    id: policy-compliance-governor
    type: governor
    compliance:
      standards:
        - openapi-first
        - type-safe
      validated: true
      validatedAt: "2024-01-15T10:00:00Z"

servers:
  - url: https://governor.platform.com/api/v1
    description: Production

tags:
  - name: policies
    description: Policy enforcement operations
  - name: compliance
    description: Compliance validation operations
  - name: audit
    description: Audit operations

paths:
  /policies/enforce:
    post:
      summary: Enforce policy
      description: Enforce policy on a resource or action
      operationId: enforcePolicy
      tags: [policies]
      x-ossa-capability: enforce-policies
      x-ossa-autonomy:
        level: supervised
        approval_required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policy, resource]
              properties:
                policy:
                  type: string
                  description: Policy identifier
                resource:
                  type: object
                  description: Resource to enforce policy on
                mode:
                  type: string
                  enum: [advisory, blocking, logging]
                  default: blocking
      responses:
        '200':
          description: Policy enforced
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowed:
                    type: boolean
                  reason:
                    type: string
                  violations:
                    type: array
                    items:
                      type: object

  /compliance/validate:
    post:
      summary: Validate compliance
      description: Validate resource or system against compliance framework
      operationId: validateCompliance
      tags: [compliance]
      x-ossa-capability: validate-compliance
      x-ossa-autonomy:
        level: autonomous
        approval_required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [framework, resource]
              properties:
                framework:
                  type: string
                  enum: [soc2, pci-dss, gdpr, hipaa, iso27001]
                resource:
                  type: object
                controls:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Compliance validation completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  compliant:
                    type: boolean
                  violations:
                    type: array
                    items:
                      type: object
                      properties:
                        control:
                          type: string
                        severity:
                          type: string
                        description:
                          type: string
                  score:
                    type: number

  /audit/generate:
    post:
      summary: Generate audit report
      description: Generate audit report for compliance tracking
      operationId: generateAuditReport
      tags: [audit]
      x-ossa-capability: generate-reports
      x-ossa-autonomy:
        level: autonomous
        approval_required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [period]
              properties:
                period:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time
                format:
                  type: string
                  enum: [json, pdf, html]
                  default: json
      responses:
        '200':
          description: Audit report generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: string
                  report_url:
                    type: string
                    format: uri
                  summary:
                    type: object

