openapi: 3.1.0
info:
  title: Multi-Workflow Orchestrator Agent API
  version: 0.3.3
  description: |
    Enterprise orchestrator managing complex multi-agent workflows across distributed systems.
    Coordinates worker agents, manages dependencies, and handles failure recovery.

x-ossa-metadata:
  version: 0.2.5-RC
  compliance:
    level: enterprise
    frameworks:
      - OSSA
      - OpenAPI 3.1
  governance:
    approved: true
    approvedBy: Platform Team
    approvalDate: "2024-01-15"

x-ossa:
  version: 0.2.5-RC
  agent:
    id: multi-workflow-orchestrator
    type: orchestrator
    compliance:
      standards:
        - openapi-first
        - dry
        - crud
        - solid
        - type-safe
      validated: true
      validatedAt: "2024-01-15T10:30:00Z"

servers:
  - url: https://orchestrator.platform.com/api/v1
    description: Production
  - url: http://orchestrator:3000/api/v1
    description: Kubernetes internal

tags:
  - name: workflows
    description: Workflow orchestration operations
  - name: agents
    description: Agent coordination operations
  - name: resources
    description: Resource allocation operations

paths:
  /workflows:
    post:
      summary: Create and execute workflow
      description: |
        Creates a new workflow definition and starts execution.
        Orchestrates multiple agents to complete complex multi-step processes.
      operationId: createWorkflow
      tags: [workflows]
      x-ossa-capability: orchestrate-workflows
      x-ossa-autonomy:
        level: semi-autonomous
        approval_required: false
        allowed_actions:
          - delegate_tasks
          - aggregate_results
          - coordinate_agents
      x-ossa-llm:
        provider: openai
        model: gpt-4
        temperature: 0.1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workflow_id, steps]
              properties:
                workflow_id:
                  type: string
                  description: Unique workflow identifier
                steps:
                  type: array
                  items:
                    type: object
                    properties:
                      step_id:
                        type: string
                      agent_type:
                        type: string
                        enum: [worker, specialist, critic]
                      capability:
                        type: string
                      input:
                        type: object
                priority:
                  type: string
                  enum: [low, normal, high, critical]
                  default: normal
      responses:
        '202':
          description: Workflow execution started
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflow_id:
                    type: string
                  status:
                    type: string
                    enum: [pending, running, completed, failed]
                  steps:
                    type: array
                    items:
                      type: object

  /workflows/{workflow_id}:
    get:
      summary: Get workflow status
      description: Retrieve the current status of a workflow execution
      operationId: getWorkflowStatus
      tags: [workflows]
      x-ossa-capability: orchestrate-workflows
      x-ossa-autonomy:
        level: autonomous
        approval_required: false
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workflow status
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflow_id:
                    type: string
                  status:
                    type: string
                  steps:
                    type: array
                    items:
                      type: object
                  aggregated_result:
                    type: object

  /agents/discover:
    post:
      summary: Discover agents by capability
      description: Find agents that match specific capability requirements
      operationId: discoverAgents
      tags: [agents]
      x-ossa-capability: coordinate-agents
      x-ossa-autonomy:
        level: autonomous
        approval_required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [capability]
              properties:
                capability:
                  type: string
                  description: Required capability name
                agent_type:
                  type: string
                  enum: [worker, specialist, critic, orchestrator]
                filters:
                  type: object
      responses:
        '200':
          description: List of matching agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      type: object
                      properties:
                        agent_id:
                          type: string
                        capabilities:
                          type: array
                          items:
                            type: string
                        status:
                          type: string

  /resources/allocate:
    post:
      summary: Allocate resources for workflow
      description: Allocate compute, memory, and token budgets for workflow execution
      operationId: allocateResources
      tags: [resources]
      x-ossa-capability: resource-allocation
      x-ossa-autonomy:
        level: semi-autonomous
        approval_required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workflow_id, resources]
              properties:
                workflow_id:
                  type: string
                resources:
                  type: object
                  properties:
                    cpu:
                      type: string
                    memory:
                      type: string
                    tokens:
                      type: integer
      responses:
        '200':
          description: Resources allocated
          content:
            application/json:
              schema:
                type: object
                properties:
                  allocation_id:
                    type: string
                  resources:
                    type: object

