openapi: 3.1.0
info:
  title: OSSA Release Automation API
  version: 0.2.5-RC
  description: |
    Enterprise-grade CRUD API for release automation.
    Provides full lifecycle management for releases, milestones, tags, and merge requests.
  contact:
    name: OSSA Release Automation Team
    email: ops@openstandardagents.org
  license:
    name: Apache 2.0
    url: https://opensource.org/licenses/Apache-2.0

servers:
  - url: https://gitlab.com/api/v4/projects/{projectId}
    description: GitLab API
    variables:
      projectId:
        default: "blueflyio/openstandardagents"
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: releases
    description: Release CRUD operations
  - name: milestones
    description: Milestone CRUD operations
  - name: tags
    description: Git tag CRUD operations
  - name: merge-requests
    description: Merge request CRUD operations
  - name: webhooks
    description: Webhook handlers

paths:
  /releases:
    get:
      tags: [releases]
      summary: List all releases
      operationId: listReleases
      parameters:
        - $ref: '#/components/parameters/VersionFilter'
        - $ref: '#/components/parameters/StateFilter'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: List of releases
          content:
            application/json:
              schema:
                type: object
                properties:
                  releases:
                    type: array
                    items:
                      $ref: '#/components/schemas/Release'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags: [releases]
      summary: Create a new release
      operationId: createRelease
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReleaseRequest'
      responses:
        '201':
          description: Release created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Release'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /releases/{releaseId}:
    get:
      tags: [releases]
      summary: Get release by ID
      operationId: getRelease
      parameters:
        - $ref: '#/components/parameters/ReleaseId'
      responses:
        '200':
          description: Release details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Release'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [releases]
      summary: Update release
      operationId: updateRelease
      parameters:
        - $ref: '#/components/parameters/ReleaseId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReleaseRequest'
      responses:
        '200':
          description: Release updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Release'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
    delete:
      tags: [releases]
      summary: Delete release
      operationId: deleteRelease
      parameters:
        - $ref: '#/components/parameters/ReleaseId'
      responses:
        '204':
          description: Release deleted
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Cannot delete - release is active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /milestones:
    get:
      tags: [milestones]
      summary: List milestones
      operationId: listMilestones
      parameters:
        - $ref: '#/components/parameters/StateFilter'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: List of milestones
          content:
            application/json:
              schema:
                type: object
                properties:
                  milestones:
                    type: array
                    items:
                      $ref: '#/components/schemas/Milestone'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags: [milestones]
      summary: Create milestone
      operationId: createMilestone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMilestoneRequest'
      responses:
        '201':
          description: Milestone created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'

  /milestones/{milestoneId}:
    get:
      tags: [milestones]
      summary: Get milestone
      operationId: getMilestone
      parameters:
        - $ref: '#/components/parameters/MilestoneId'
      responses:
        '200':
          description: Milestone details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [milestones]
      summary: Update milestone
      operationId: updateMilestone
      parameters:
        - $ref: '#/components/parameters/MilestoneId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMilestoneRequest'
      responses:
        '200':
          description: Milestone updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
    delete:
      tags: [milestones]
      summary: Delete milestone
      operationId: deleteMilestone
      parameters:
        - $ref: '#/components/parameters/MilestoneId'
      responses:
        '204':
          description: Milestone deleted

  /tags:
    get:
      tags: [tags]
      summary: List tags
      operationId: listTags
      parameters:
        - $ref: '#/components/parameters/VersionFilter'
        - $ref: '#/components/parameters/TagTypeFilter'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags: [tags]
      summary: Create tag
      operationId: createTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagRequest'
      responses:
        '201':
          description: Tag created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'

  /tags/{tagName}:
    get:
      tags: [tags]
      summary: Get tag
      operationId: getTag
      parameters:
        - $ref: '#/components/parameters/TagName'
      responses:
        '200':
          description: Tag details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [tags]
      summary: Delete tag
      operationId: deleteTag
      parameters:
        - $ref: '#/components/parameters/TagName'
      responses:
        '204':
          description: Tag deleted

  /merge-requests:
    get:
      tags: [merge-requests]
      summary: List merge requests
      operationId: listMergeRequests
      parameters:
        - $ref: '#/components/parameters/StateFilter'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: List of merge requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  mergeRequests:
                    type: array
                    items:
                      $ref: '#/components/schemas/MergeRequest'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags: [merge-requests]
      summary: Create merge request
      operationId: createMergeRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMergeRequestRequest'
      responses:
        '201':
          description: Merge request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeRequest'

  /merge-requests/{mrId}:
    get:
      tags: [merge-requests]
      summary: Get merge request
      operationId: getMergeRequest
      parameters:
        - $ref: '#/components/parameters/MergeRequestId'
      responses:
        '200':
          description: Merge request details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [merge-requests]
      summary: Update merge request
      operationId: updateMergeRequest
      parameters:
        - $ref: '#/components/parameters/MergeRequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMergeRequestRequest'
      responses:
        '200':
          description: Merge request updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeRequest'
    delete:
      tags: [merge-requests]
      summary: Delete merge request
      operationId: deleteMergeRequest
      parameters:
        - $ref: '#/components/parameters/MergeRequestId'
      responses:
        '204':
          description: Merge request deleted

  /webhooks/milestone:
    post:
      tags: [webhooks]
      summary: Handle milestone webhook
      operationId: handleMilestoneWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MilestoneWebhookPayload'
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'

  /webhooks/push:
    post:
      tags: [webhooks]
      summary: Handle push webhook
      operationId: handlePushWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushWebhookPayload'
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'

components:
  parameters:
    ReleaseId:
      name: releaseId
      in: path
      required: true
      schema:
        type: string
      description: Release identifier (version or ID)
    MilestoneId:
      name: milestoneId
      in: path
      required: true
      schema:
        type: integer
      description: Milestone ID
    TagName:
      name: tagName
      in: path
      required: true
      schema:
        type: string
      description: Tag name (e.g., v0.2.5-RC)
    MergeRequestId:
      name: mrId
      in: path
      required: true
      schema:
        type: integer
      description: Merge request IID
    VersionFilter:
      name: version
      in: query
      schema:
        type: string
      description: Filter by version pattern
    StateFilter:
      name: state
      in: query
      schema:
        type: string
        enum: [active, closed, all]
      description: Filter by state
    TagTypeFilter:
      name: type
      in: query
      schema:
        type: string
        enum: [dev, rc, release, all]
      description: Filter by tag type
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1
      description: Page number
    PerPageParam:
      name: per_page
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
      description: Items per page

  schemas:
    Release:
      type: object
      required: [id, version, state, createdAt]
      properties:
        id:
          type: string
          description: Release identifier
          example: "v0.2.5-RC"
        version:
          type: string
          pattern: '^v?[0-9]+\.[0-9]+\.[0-9]+(-[A-Za-z0-9]+)?$'
          description: Semantic version
          example: "0.2.5-RC"
        state:
          type: string
          enum: [draft, dev, rc, released, deprecated]
          description: Release state
        milestoneId:
          type: integer
          description: Associated milestone ID
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
          description: Associated tags
        mergeRequestId:
          type: integer
          description: Associated merge request ID
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        releasedAt:
          type: string
          format: date-time
          nullable: true
        metadata:
          type: object
          additionalProperties: true

    CreateReleaseRequest:
      type: object
      required: [version]
      properties:
        version:
          type: string
          pattern: '^v?[0-9]+\.[0-9]+\.[0-9]+(-[A-Za-z0-9]+)?$'
        milestoneId:
          type: integer
        metadata:
          type: object
          additionalProperties: true

    UpdateReleaseRequest:
      type: object
      properties:
        state:
          type: string
          enum: [draft, dev, rc, released, deprecated]
        metadata:
          type: object
          additionalProperties: true

    Milestone:
      type: object
      required: [id, title, state]
      properties:
        id:
          type: integer
        title:
          type: string
          example: "v0.2.9"
        description:
          type: string
        state:
          type: string
          enum: [active, closed]
        dueDate:
          type: string
          format: date
          nullable: true
        startDate:
          type: string
          format: date
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/MilestoneStatistics'

    MilestoneStatistics:
      type: object
      properties:
        totalIssues:
          type: integer
        closedIssues:
          type: integer
        openIssues:
          type: integer
        completionPercentage:
          type: number
          format: float
          minimum: 0
          maximum: 100

    CreateMilestoneRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
          pattern: '^v?[0-9]+\.[0-9]+\.[0-9]+'
        description:
          type: string
        dueDate:
          type: string
          format: date
        startDate:
          type: string
          format: date

    UpdateMilestoneRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        state:
          type: string
          enum: [active, closed]
        dueDate:
          type: string
          format: date
        startDate:
          type: string
          format: date

    Tag:
      type: object
      required: [name, type, commitSha]
      properties:
        name:
          type: string
          example: "v0.2.5-RC"
        type:
          type: string
          enum: [dev, rc, release]
          description: Tag type
        version:
          type: string
          description: Extracted version
        commitSha:
          type: string
          pattern: '^[0-9a-f]{40}$'
        message:
          type: string
        createdAt:
          type: string
          format: date-time
        ref:
          type: string
          description: Git ref (branch or commit)

    CreateTagRequest:
      type: object
      required: [name, ref]
      properties:
        name:
          type: string
          pattern: '^v?[0-9]+\.[0-9]+\.[0-9]+(-[a-z]+\.?[0-9]+)?$'
        ref:
          type: string
          description: Branch or commit SHA
        message:
          type: string

    MergeRequest:
      type: object
      required: [id, sourceBranch, targetBranch, state]
      properties:
        id:
          type: integer
          description: Merge request IID
        title:
          type: string
        description:
          type: string
        sourceBranch:
          type: string
        targetBranch:
          type: string
        state:
          type: string
          enum: [opened, closed, merged, locked]
        mergeStatus:
          type: string
          enum: [can_be_merged, cannot_be_merged, checking, unchecked]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        mergedAt:
          type: string
          format: date-time
          nullable: true
        labels:
          type: array
          items:
            type: string
        approvals:
          type: object
          properties:
            required:
              type: integer
            received:
              type: integer

    CreateMergeRequestRequest:
      type: object
      required: [sourceBranch, targetBranch, title]
      properties:
        sourceBranch:
          type: string
        targetBranch:
          type: string
        title:
          type: string
        description:
          type: string
        labels:
          type: array
          items:
            type: string
        milestoneId:
          type: integer

    UpdateMergeRequestRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        state:
          type: string
          enum: [opened, closed, merged]
        labels:
          type: array
          items:
            type: string

    MilestoneWebhookPayload:
      type: object
      required: [object_kind, project, object_attributes]
      properties:
        object_kind:
          type: string
          enum: [milestone]
        project:
          type: object
          properties:
            id:
              type: integer
            path_with_namespace:
              type: string
        object_attributes:
          type: object
          properties:
            id:
              type: integer
            title:
              type: string
            state:
              type: string
              enum: [active, closed]
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    PushWebhookPayload:
      type: object
      required: [object_kind, project, ref]
      properties:
        object_kind:
          type: string
          enum: [push]
        project:
          type: object
          properties:
            id:
              type: integer
        ref:
          type: string
        commits:
          type: array
          items:
            type: object

    WebhookResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        actions:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              status:
                type: string
              details:
                type: object

    Pagination:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    Error:
      type: object
      required: [message]
      properties:
        message:
          type: string
        code:
          type: string
        details:
          type: object
          additionalProperties: true

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    GitLabToken:
      type: http
      scheme: bearer
      bearerFormat: token
      description: GitLab Personal Access Token or CI Job Token

security:
  - GitLabToken: []

