apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.agent.id }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.agent.id }}
  {{- if .Values.prometheus.enabled }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: {{ .Values.prometheus.port | quote }}
    prometheus.io/path: {{ .Values.prometheus.path | quote }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: http
    port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
  - name: metrics
    port: {{ .Values.service.metricsPort }}
    targetPort: metrics
    protocol: TCP
  selector:
    app: {{ .Values.agent.id }}

