openapi: 3.1.0
info:
  title: "OSSA Platform API v0.1.8"
  version: "0.1.8"
  description: |
    Open Standards for Scalable Agents Platform API v0.1.8
    
    This API provides comprehensive agent management, discovery, and orchestration
    capabilities following OSSA v0.1.8 specifications with GraphQL and REST endpoints.
    
    Features:
    - Agent registration and discovery (UADP compatible)
    - Real-time health monitoring and metrics
    - Multi-framework agent execution (LangChain, CrewAI, OpenAI, MCP)
    - GraphQL API with subscriptions
    - Enterprise compliance tracking (ISO 42001, NIST AI RMF)
    
  contact:
    name: "LLM Platform Team"
    url: "https://llm.bluefly.io"
    
  license:
    name: "Apache 2.0"
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
    
  x-openapi-ai-agents-standard:
    version: "0.1.8"
    conformance_tier: "advanced"
    certification_level: "platinum"
    compliance_frameworks: ["ISO_42001", "NIST_AI_RMF", "EU_AI_ACT"]
    enterprise_features: true
    api_versioning:
      strategy: "path"
      current: "v1"
      supported: ["v1"]
      
  x-agent-metadata:
    class: "integration"
    category: "service"
    protocols: ["openapi", "graphql", "uadp", "mcp"]
    capabilities: ["agent_registry", "discovery", "orchestration", "monitoring"]
    domains: ["platform", "management", "integration"]
    frameworks: ["langchain", "crewai", "openai", "anthropic", "mcp"]
    
  x-ossa-graphql:
    enabled: true
    endpoint: "/graphql"
    subscriptions: true
    introspection: true
    apollo_federation: false

servers:
  - url: "https://api.llm.bluefly.io/ossa/v1"
    description: "Production API server"
  - url: "http://localhost:4000/api/v1"
    description: "Local development server"

paths:
  # Health and Status
  /health:
    get:
      summary: "Platform health check"
      description: "OSSA v0.1.8 compliant health check with detailed status"
      operationId: "getHealth"
      tags: ["Health"]
      responses:
        '200':
          description: "Platform is healthy"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
              example:
                status: "healthy"
                version: "0.1.8"
                ossa_version: "0.1.8"
                uptime: 99.95
                services:
                  agent_registry: "healthy"
                  discovery_engine: "healthy"
                  graphql_api: "healthy"
                timestamp: "2025-01-26T10:00:00Z"
                
  /version:
    get:
      summary: "Get platform version info"
      operationId: "getVersion"
      tags: ["Health"]
      responses:
        '200':
          description: "Version information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionInfo"

  # Agent Registry
  /agents:
    get:
      summary: "List registered agents"
      description: "Get all agents in the registry with filtering and pagination"
      operationId: "listAgents"
      tags: ["Agents"]
      parameters:
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
        - name: "class"
          in: "query"
          schema:
            type: "string"
            enum: ["general", "specialist", "workflow", "integration"]
        - name: "tier"
          in: "query"
          schema:
            type: "string"
            enum: ["core", "governed", "advanced"]
      responses:
        '200':
          description: "List of agents"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentList"
                
    post:
      summary: "Register new agent"
      description: "Register a new OSSA v0.1.8 compliant agent"
      operationId: "registerAgent"
      tags: ["Agents"]
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentRegistration"
      responses:
        '201':
          description: "Agent registered successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        '400':
          $ref: "#/components/responses/BadRequest"
        '409':
          description: "Agent already exists"

  /agents/{agentId}:
    get:
      summary: "Get agent details"
      operationId: "getAgent"
      tags: ["Agents"]
      parameters:
        - name: "agentId"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        '200':
          description: "Agent details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        '404':
          $ref: "#/components/responses/NotFound"
          
    put:
      summary: "Update agent"
      operationId: "updateAgent"
      tags: ["Agents"]
      security:
        - api_key: []
      parameters:
        - name: "agentId"
          in: "path"
          required: true
          schema:
            type: "string"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentUpdate"
      responses:
        '200':
          description: "Agent updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        '404':
          $ref: "#/components/responses/NotFound"
          
    delete:
      summary: "Unregister agent"
      operationId: "unregisterAgent"
      tags: ["Agents"]
      security:
        - api_key: []
      parameters:
        - name: "agentId"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        '204':
          description: "Agent unregistered"
        '404':
          $ref: "#/components/responses/NotFound"

  # Discovery (UADP Compatible)
  /discover:
    get:
      summary: "Discover agents by capabilities"
      description: "Universal Agent Discovery Protocol (UADP) compatible endpoint"
      operationId: "discoverAgents"
      tags: ["Discovery"]
      parameters:
        - name: "capabilities"
          in: "query"
          schema:
            type: "array"
            items:
              type: "string"
          style: "form"
          explode: false
        - name: "domain"
          in: "query"
          schema:
            type: "string"
        - name: "tier"
          in: "query"
          schema:
            type: "string"
            enum: ["core", "governed", "advanced"]
      responses:
        '200':
          description: "Discovered agents"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscoveryResult"

  # Metrics and Analytics
  /metrics:
    get:
      summary: "Get platform metrics"
      operationId: "getMetrics"
      tags: ["Analytics"]
      security:
        - api_key: []
      parameters:
        - name: "timeframe"
          in: "query"
          schema:
            type: "string"
            enum: ["1h", "6h", "24h", "7d", "30d"]
            default: "24h"
      responses:
        '200':
          description: "Platform metrics"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformMetrics"

  # GraphQL Endpoint
  /graphql:
    post:
      summary: "GraphQL API endpoint"
      description: "Execute GraphQL queries, mutations, and subscriptions"
      operationId: "graphql"
      tags: ["GraphQL"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required: ["query"]
              properties:
                query:
                  type: "string"
                variables:
                  type: "object"
                operationName:
                  type: "string"
      responses:
        '200':
          description: "GraphQL response"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  data:
                    type: "object"
                  errors:
                    type: "array"
                    items:
                      type: "object"

components:
  schemas:
    HealthStatus:
      type: "object"
      required: ["status", "version", "timestamp"]
      properties:
        status:
          type: "string"
          enum: ["healthy", "degraded", "unhealthy"]
        version:
          type: "string"
        ossa_version:
          type: "string"
        uptime:
          type: "number"
          minimum: 0
          maximum: 100
        services:
          type: "object"
          additionalProperties:
            type: "string"
            enum: ["healthy", "degraded", "unhealthy"]
        timestamp:
          type: "string"
          format: "date-time"
          
    VersionInfo:
      type: "object"
      required: ["api", "ossa", "platform"]
      properties:
        api:
          type: "string"
        ossa:
          type: "string"
        platform:
          type: "string"
        build:
          type: "string"
        commit:
          type: "string"
          
    Agent:
      type: "object"
      required: ["id", "name", "version", "spec"]
      properties:
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        version:
          type: "string"
        description:
          type: "string"
        spec:
          $ref: "#/components/schemas/AgentSpec"
        status:
          $ref: "#/components/schemas/AgentStatus"
        registered_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
          
    AgentSpec:
      type: "object"
      required: ["conformance_tier", "class", "capabilities"]
      properties:
        conformance_tier:
          type: "string"
          enum: ["core", "governed", "advanced"]
        class:
          type: "string"
          enum: ["general", "specialist", "workflow", "integration"]
        category:
          type: "string"
          enum: ["assistant", "tool", "service", "coordinator"]
        capabilities:
          type: "object"
          required: ["primary"]
          properties:
            primary:
              type: "array"
              items:
                type: "string"
            secondary:
              type: "array"
              items:
                type: "string"
        protocols:
          type: "array"
          items:
            $ref: "#/components/schemas/Protocol"
        endpoints:
          type: "object"
          required: ["health"]
          properties:
            health:
              type: "string"
              format: "uri"
            capabilities:
              type: "string"
              format: "uri"
            api:
              type: "string"
              format: "uri"
              
    Protocol:
      type: "object"
      required: ["name", "version", "required"]
      properties:
        name:
          type: "string"
          enum: ["openapi", "mcp", "uadp", "graphql"]
        version:
          type: "string"
        required:
          type: "boolean"
        extensions:
          type: "array"
          items:
            type: "string"
            
    AgentStatus:
      type: "object"
      required: ["health", "last_seen"]
      properties:
        health:
          type: "string"
          enum: ["healthy", "degraded", "unhealthy", "unknown"]
        last_seen:
          type: "string"
          format: "date-time"
        metrics:
          type: "object"
          properties:
            requests_per_minute:
              type: "number"
            average_response_time:
              type: "number"
            error_rate:
              type: "number"
              
    AgentRegistration:
      type: "object"
      required: ["name", "version", "endpoint", "spec"]
      properties:
        name:
          type: "string"
        version:
          type: "string"
        description:
          type: "string"
        endpoint:
          type: "string"
          format: "uri"
        spec:
          $ref: "#/components/schemas/AgentSpec"
        
    AgentUpdate:
      type: "object"
      properties:
        version:
          type: "string"
        description:
          type: "string"
        endpoint:
          type: "string"
          format: "uri"
        spec:
          $ref: "#/components/schemas/AgentSpec"
        
    AgentList:
      type: "object"
      required: ["agents", "total", "limit", "offset"]
      properties:
        agents:
          type: "array"
          items:
            $ref: "#/components/schemas/Agent"
        total:
          type: "integer"
        limit:
          type: "integer"
        offset:
          type: "integer"
        
    DiscoveryResult:
      type: "object"
      required: ["agents", "query"]
      properties:
        agents:
          type: "array"
          items:
            $ref: "#/components/schemas/Agent"
        query:
          type: "object"
          properties:
            capabilities:
              type: "array"
              items:
                type: "string"
            domain:
              type: "string"
            tier:
              type: "string"
        total:
          type: "integer"
        
    PlatformMetrics:
      type: "object"
      properties:
        timestamp:
          type: "string"
          format: "date-time"
        timeframe:
          type: "string"
        agents:
          type: "object"
          properties:
            total:
              type: "integer"
            active:
              type: "integer"
            by_tier:
              type: "object"
              additionalProperties:
                type: "integer"
        requests:
          type: "object"
          properties:
            total:
              type: "integer"
            success_rate:
              type: "number"
            average_response_time:
              type: "number"
        errors:
          type: "array"
          items:
            type: "object"
            properties:
              code:
                type: "string"
              message:
                type: "string"
              count:
                type: "integer"

  responses:
    BadRequest:
      description: "Bad request"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              error:
                type: "string"
              details:
                type: "object"
                
    NotFound:
      description: "Resource not found"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              error:
                type: "string"
                example: "Agent not found"
                
    ServerError:
      description: "Internal server error"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              error:
                type: "string"
              request_id:
                type: "string"

  securitySchemes:
    api_key:
      type: "apiKey"
      in: "header"
      name: "X-API-Key"
      description: "API key for authenticated endpoints"
      
    bearer:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
      description: "JWT bearer token"

security:
  - api_key: []
  - bearer: []

tags:
  - name: "Health"
    description: "Platform health and status endpoints"
  - name: "Agents"
    description: "Agent registry and management"
  - name: "Discovery"
    description: "Agent discovery and UADP compatibility"
  - name: "Analytics"
    description: "Platform metrics and analytics"
  - name: "GraphQL"
    description: "GraphQL API endpoint"

x-ossa-discovery:
  uadp_enabled: true
  discovery_endpoints:
    capabilities: "/discover"
    health: "/health"
    metrics: "/metrics"
  registry_compatible: true
  
x-ossa-performance:
  sla_targets:
    availability: 99.9
    response_time_p95: "100ms"
    error_rate_threshold: 0.1
  scaling:
    horizontal: true
    vertical: true
    auto_scaling: true
  monitoring:
    metrics_endpoint: "/metrics"
    health_endpoint: "/health"
    observability_level: "comprehensive"