stages:
  - build
  - deploy

variables:
  CONTAINER_IMAGE: ${CI_REGISTRY_IMAGE}/website:${CI_COMMIT_REF_SLUG}
  CONTAINER_IMAGE_LATEST: ${CI_REGISTRY_IMAGE}/website:latest

build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
  script:
    - cd ..
    - docker build -t ${CONTAINER_IMAGE} -t ${CONTAINER_IMAGE_LATEST} -f website/Dockerfile .
    - docker push ${CONTAINER_IMAGE}
    - docker push ${CONTAINER_IMAGE_LATEST}
  only:
    - main
    - development
  tags:
    - docker

# NOTE: GitLab Pages deployment is handled by the main .gitlab-ci.yml file
# This file only handles Docker image builds for the website
# The main CI uses proper Next.js static export (npm run build:no-wiki)
